<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/appseriestv</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hbm2ddl.auto">update</property>

		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.maxIdleTime">200</property>
		<property name="hibernate.c3p0.timeout">180</property>
		<property name="hibernate.c3p0.idle_test_period">100</property>
		<property name="hibernate.c3p0.max-statements">50</property>


		<mapping class="br.huma.appseriestvweb.bean.Usuario" />
		<mapping class="br.huma.appseriestvweb.bean.Series" />
		<mapping class="br.huma.appseriestvweb.bean.UsuSeries" />
		<mapping class="br.huma.appseriestvweb.bean.SeriesDetalhe" />
		<mapping class="br.huma.appseriestvweb.bean.UsuSeriesDetalhe" />
		<mapping class="br.huma.appseriestvweb.bean.SeriesTemporada" />
		<mapping class="br.huma.appseriestvweb.bean.UsuSeriesTemporada" />
		<mapping class="br.huma.appseriestvweb.bean.SeriesTempoCapitulos" />
		<mapping class="br.huma.appseriestvweb.bean.UsuSeriesTempoCapitulos" />

	</session-factory>
</hibernate-configuration>


